<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Pustolovko Leaderboard</title>
    </head>
    <body>
        <div class="img-div"><img src="/static/title.png" /></div>
        <div class="container-wrap">
            <section id="leaderboard">
                <div class="ladder-title">
                    <h1>SELECT THE LEVEL</h1>
                </div>
                <div class="leaderboard-results">
                    <input type="button" id="level-button" value="1" class="level-button" />
                    <input type="button" id="level-button" value="2" class="level-button" />
                    <input type="button" id="level-button" value="3" class="level-button" />
                    <input type="button" id="level-button" value="4" class="level-button" />
                    <input type="button" id="level-button" value="5" class="level-button" />
                </div>
            </section>
        </div>
        <script src="/js/select.js"></script>
    </body>
</html>
